.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 358px;
  height: 259px;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  margin: 0;
}
@media screen and (max-width: 670px) {
  .form {
    width: 238px;
    height: 272px;
    padding: 25px 22px 25px 22px;
  }
}
