.profile__text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  max-width: 336px;
  margin: 20px 0 0 30px;
}
@media screen and (max-width: 670px) {
  .profile__text {
    margin: 26px auto 0 auto;
    max-width: 217px;
  }
}
