.element__button {
  background-image: url(../../../images/Vector_heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 19px;
  margin: 5px 5px 1px 0;
}
.element__button:hover {
  opacity: 0.6;
  -webkit-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}

