.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto;
}
@media screen and (max-width: 670px) {
  .header {
    min-height: 56px;
  }
}
