.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}
@media screen and (max-width: 670px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
