.form__button_invalid {
    background-color: white;
    color: rgba(0, 0, 0, 0.25);
    border: solid 1px rgb(0, 0, 0, 0.2);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default
  }

  .form__button_invalid:hover {
    opacity: 1;
  }