@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__positioned/profile__positioned.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__firstname/profile__firstname.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button-rectangle/profile__button-rectangle.css);
@import url(../blocks/profile/__button-pluss/profile__button-pluss.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_active/element__button_active.css);
@import url(../blocks/element/__button-rubbish/element__button-rubbish.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__picture/element__picture.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like-amount/element__like-amount.css);
@import url(../blocks/likebuttons/likebuttons.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_pic/popup_pic.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_picture/popup__container_picture.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/close-item/close-item.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_invalid/form__input_invalid.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__button/_avatar/form__button_avatar.css);
@import url(../blocks/form/__button/_request-delete-card/form__button_request-delete-card.css);
@import url(../blocks/form/__button/_invalid/form__button_invalid.css);
@import url(../blocks/error/error.css);
@import url(../blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(../blocks/form/__input/_avatar/form__input_avatar.css);
@import url(../blocks/form/__label/form__label.css);



