.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 670px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px 25px 22px;
  }
}
