.profile__firstname {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  overflow: hidden;
}
@media screen and (max-width: 670px) {
  .profile__firstname {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 189px;
  }
}
