.button-rectangle {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  margin: 37px 0 0 18px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.button-rectangle:hover {
  opacity: 0.6;
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}
@media screen and (max-width: 670px) {
  .button-rectangle {
    margin: 8px 0 0 10px;
    size: 18px 18px;
  }
}
