.element__picture {
  max-width: 282px;
  max-height: 282px;
  min-width: 282px;
  min-height: 282px;
  margin: 0;
  object-fit: cover ;
  border-radius: 10px 10px 0 0;
}
.element__picture:hover {
  opacity: 0.6;
  -webkit-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
  cursor: pointer;
}
