.form__input {
  margin: 30px 0 0 0;
  width: 100%;
  padding: 0 0 13px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 670px) {
  .form__input {
    max-width: 238px;
  }
}